* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

.container {
background: url("/img/bg.jpg") center center no-repeat;
  width:100%;
  height: 1000px;
  background-size: cover;
  z-index: 0;
  padding-top:100px;
  position: relative;
}
.container::after{
    content:"";
    display: block;
    background-color: rgba(83, 83, 83, 0.308);
    background-size: cover;
    width: 100%;
    height:1040px;
    position: absolute;
    left:0;
    top:0;
    z-index: -1;
}

.tinhtiencap {
    width: 800px;
    margin-top:10px;
    padding: 70px 0;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0 0 26px rgba(0, 0, 0, 0.158);
    z-index: 0;
}

.form {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
    justify-content: center;
    align-content: start;
}
.form .form-left{
    text-align: right;
    line-height: 3;
    font-size:20px;
}
.form .form-right input{
    margin: 13px auto;
}
.title::before {
    content:"";
    background-image: url('/img/pay.png');
    background-size: cover;
    display: inline-block;
    width: 65px; 
    height: 125px;
    margin-right:30px;
    margin-bottom:-30px;
}
.title {
    font-size: 70px;
    font-weight: 800;
    margin-bottom: 60px;
    color: rgb(72, 128, 233)
}

.form input {
    padding: 10px 50px;
    border-radius: 5px;
    border:1px solid rgb(184, 184, 184);
    outline:none;
}
.form input:focus{
    outline: none;
    border:1px solid rgb(72, 128, 233);
}
.form input#userID, .form input#premiumNetwork, .form input#numberNetwork {
    padding-left: 10px;
    font-size: 16px;
}
.form input[type="radio"]{
    transform:scale(2);
    margin-right: 6px;
}
.form label {
    margin-right: 10px;
}
.btn {
    background-color:rgb(72, 128, 233);
    color:white;
    font-size: 30px;
    padding: 10px 50px;
    border-radius: 5px;
    border:none;
    transition: .3s all;
    margin-top: 20px;
    font-weight: 700;
}
.btn:hover{
    cursor:pointer;
    box-shadow: 0px 5px 16px rgba(0, 0, 0, 0.205);
    transition: .3s all;
    
}
.message-box1 {
    font-size: 20px;
    margin-top:20px;
}
.message-box2 {
    font-size: 20px;

}
.message-box3 {
    font-size: 20px;
}

.footer {
    margin: 0 auto;
    width: 20%;
    z-index: 9999;
}